.transition {
    transition: all 0.5s ease;
}

.mostrar-lista {
    justify-content: space-between !important;
}

#formCard {
    width: 350px;
}

#listaCard {
    width: 600px;
}
.tituloHome{
    color: white;
    text-decoration: none;
}
.logo{
    display: block;
    filter: invert(1);
    margin: 0 auto;
    height: 80px;
}

p{
    display: flex;
    justify-content: center;
}

.campo{
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    position: relative;
}

.input-wrapper input{
    width: 100%;
    padding-right: 40px;
}

.input-wrapper .olho{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.campo input{
    width: 100%;
    padding-right: 40px;
    box-sizing: border-box;

}

.olho{
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.menu-lateral {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100%;

    background: #1e1e1e;
    color: white;
    padding: 20px;

    transition: 0.3s;
    z-index: 999;

    box-shadow: 4px 0 10px rgba(0,0,0,0.3);
}

.menu-lateral.ativo {
    left: 0;
}

.menu-lateral input {
    background: #2c2c2c;
    border: none;
    color: white;
}

.menu-lateral input::placeholder {
    color: #ccc;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.4);
    display: none;
    z-index: 998;
}

.overlay.ativo {
    display: block;
}